<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>GeoTagApp</title>
		<link rel='stylesheet' href='./stylesheets/style.css'/>
	</head>

	<body>

		<header>
			<img src="./images/location.png" width="100"
					alt="an image of a map and location">
			<h1>GeoTagApp</h1>
			<nav>
				<a href="#">About</a> | <a href="#">Help</a> | <a
					href="/">Home</a>
			</nav>
		</header>

		<main>

			<section class="tagging">
				<h2>Tagging</h2>

				<form id="tag-form" action="/tagging" method="post">
					<fieldset form="tag-form">
						<legend>Enter new GeoTag</legend>
						<label for="latitude">latitude</label>
						<input type="number" class="input-box" name="latitude" id="latitude" step="any" required value=
						<% if (typeof latitude != 'undefined') { %>
							<%=latitude%>
						<% } %>>

						<label for="longitude">longitude</label>
						<input type="number" class="input-box" name="longitude" id="longitude" step="any" required value=
						<% if (typeof longitude != 'undefined') { %>
							<%=longitude%>
						<% } %>>

						<label for="name">name</label>
						<input type="text" placeholder="some name" class="input-box" name="name" id="name" required>

						<label for="hashtag">hashtag</label>
						<input type="text" pattern="^#[A-z]{1,10}" placeholder = "# + max. 10 letters" class="input-box" name="hashtag" id="hashtag" title="Must start with # followed by 1-10 letters!">

						<input type="button" value="submit" id="tagging-button">
					</fieldset>
				</form>

			</section>

			<section class="discovery">
				<h2>Discovery</h2>

				<form id="filter-form" action="/discovery" method="post">
					
					<fieldset form="filter-form">
						<legend>Filter by Searchterm</legend>
						<input type="text" placeholder="search term" name="searchTerm" class="input-box" id="searchTerm">
						<input type="button" value="apply" id="discovery-button">
					</fieldset>
				</form>

				<section class="list-map-box">
					<div class="taglist">
						<ul id="results">
							<% if (taglist !== undefined) taglist.forEach(function(gtag) { %>
								<li><%= gtag.name %> ( <%= gtag.latitude %>,<%= gtag.longitude %>) <%= gtag.hashtag %> </li>
							<% }); %>
						</ul>
					</div>

					<div class="tagmap">
						<img id="result-img" src="./images/mapview.jpg" alt="a map with locations" data-tags=
						<% if (typeof taglist != 'undefined') { %>
							<%=JSON.stringify(taglist)%>
						<% } %>/>
						<div class="caption">Result map</div>
					</div>
				</section>


			</section>

		</main>

		<footer>
			<span>2017 by LKIT</span>
		</footer>

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    	<script src="./javascripts/geotagging.js"></script>

	</body>
</html>


